<!DOCTYPE html>
<meta charset="utf-8">


<head>

  <title>MONITOUR</title>
  <link href='css/font.css' rel='stylesheet' type='text/css'>
  <script src="js/d3.min.js"></script>
  <script src="js/topojson.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src='js/mapbox-gl.js'></script>
  <link href='css/mapbox-gl.css' rel='stylesheet' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/mystyle.css">
  <script src='js/nprogress.js'></script>
  <link rel='stylesheet' href='css/nprogress.css'/>
</head>

<body>

  <div id ="map"></div>

  <div class="draw">
    <svg class = "svgmap draw"></svg>
    <div class = "divtrack"><svg class = "svgtrack draw"></svg></div>

    <svg class = "svgpage"></svg>

    <div class = "underbar">

      <div class="underbar_mark"></div>
      <div class="underbar_line"></div>
      <div class="underbar_line2"></div>

      <canvas id = "mycanvas" width = "250" height = "250"></canvas>
      <svg id = "globe" width = "250" height = "250"></svg>
      <svg class = "mysvg"></svg>

      <div id="tablepath">
      </div>

      <div id = "nowpath_title">
      </div>

      <div id = "device_icon">
        <img src="img/tv_icon.png">
        <p>MONITOR</p>
      </div>

      <div id = "distance">
        <p>DISTANCE OF TRAVEL: </p>
        <p class = "right">km</p>
        <p class = "keynum right">0</p>
      </div>
      
      <div id = "days">
        <p>DURATION OF TRAVEL: </p>
        <p class = "right">days</p>
        <p class = "keynum right">0</p>
      </div>

      <div id = "detail_button">
        <img src="img/up_arrow.png">
        <p>Show Detail</p>
      </div>

    </div>
  </div>

  <div class="underbar_back">
    <div>
      <p>Go!</p>
    </div>
  </div>


  <div class = "topbar">
    <img src="img/mit_logo.png" class = "mitlogo">
    <div class = "toptitle"><p>MONITOUR</p></div>
    <div class = "menu"><p>About</p></div>


  </div>



  <div id="control">
    <div id="mark_control"></div>

    <div id="title">
    </div>

    <div id="location">
    </div>

    <div id="Coord">
      <p>Coord</p>
    </div>
    <div id="Coordnum">
    </div>


    <div id="number">

    </div>
    <div class = "tobe_updated">
      <div id="media">
        <div id="media_update">
        </div>
      </div>

      <svg id="overlap1" class="arrow prev_c">
        <path d=" M 20 90
        L 10 100
        L 20 110
        "/>
      </svg>

      <svg id="overlap2" class="arrow prev_c">
        <path d=" M 10 90
        L 20 100
        L 10 110
        "/>
      </svg>

      <div id="story" align=justify>
      </div>
    </div>
    <div id="next">
      <p>CONTINUE</p>
    </div>
    <div id="stop">
      <p>PAUSE</p>
    </div>

  </div>

  <div class = "change_Map">Switch Map</div>

  <div class="menucontent">
    <p id = "intro">Introduction</p>
    <p id = "team">Team Member</p>

  </div>


  <div id="pre"></div>
  



  <div class = "overall_map">
    <div class = "overlay"></div>
    <div id='map0'></div>
    <svg class = "allroutes"></svg>
    <div class = "extra_info"></div>
  </div>


  <div class = "home">
    <div id = "copyright"><p>Odow River, Agbogbloshie dump, Accra, Ghana. Copyright Kevin McElvaney, 2014.</p></div>
    <div class = "home_tb">
      <H2 id = "home_title">MONI<span>TOUR</span></H2>
      <div class = "subtitle">
        <p style = "color:rgb(220,220,220); ">Lead to the discovery of previously unknown international electronic waste</p>
        <p style = "color:rgb(220,220,220); ">smuggling routes.</p>
      </div>
      <div id = "explore"><p>Explore</p></div>
      <div class = "home_links">
        <a href = "http://senseable.mit.edu/"><P>MIT SENSEable City Lab :.::</P></a>
        <a href = "http://www.ban.org/"><P>Basel Action Network</P></a>
      </div>
    </div>
  </div>

  <div class = "overall_info">
    <p id = "info_0">Every year countless electronic waste, including monitors, televisions, laptops and so forth, have been smuggled abroad from the United States...</p>
    <p id = "info_1">In this research project, we carried out a way to track the smuggling route of those "E-Waste". Our researchers tested and deployed several GPS trackers capable of remotely reporting their location from overseas locations.</p>
    <p id = "info_2">Let's follow our trackers to explore the e-waste smuggling route.</p>
    <p id = "info_3">We tracked 21 CRT monitors, they were shipped mainly to Asia, and traveled a total of over 400,000 kilometers. </p>


  </div>




  <div class = "hidden_info">

    <div id = "abouttb">
      <img src="img/cross.png">
      <div>
        <table>
          <tr class = "head">
            <td><h4>TRACKING E-WASTE SMUGGLING ROUTES ACROSS THE WORLD</h4></td>
          </tr>
          <tr>
            <td><P align=justify>A joint project between the BAN and the MIT Senseable City Lab has led to the discovery of previously unknown international electronic waste smuggling routes. Seven CRT monitors embedded with tracking devices were deposited at electronics recyclers in Los Angeles, California. These trackers revealed that five monitors were exported to Asia via ports in Vietnam, China, and Malaysia. 
            </P></td>
          </tr>
          <tr>
            <td><P align=justify>
              CRTs are categorized as toxic waste due to the high content of lead in their glass, and they are the only e-waste export that the federal government restricts. Previous investigative reports by BAN and other groups have documented the export of e-waste to Asian and African ports, and pinpointed regions of Nigeria and China that had become toxic wastelands. However, many of the shipping routes and processing locations of CRTs and other e-waste remained a mystery. 
            </P></td>
          </tr>
          <tr>
            <td><P align=justify>
              Our researchers tested and deployed several GPS trackers capable of remotely reporting their location from overseas locations. We also programmed cheaper smartphones to act as location trackers, forcing sleep cycles and soldering on external batteries to extend their life to up to four months. These hacked phones gave us additional data points and could photograph the environment through holes drilled in the monitor casing. We developed methods to embed the trackers and their batteries inside CRT monitors to avoid detection while retaining signal reach. 
            </P></td>
          </tr>
          <tr>
            <td><P align=justify>
              Our development process and code are partly detailed in this masters thesis, while our deployment was documented by the New York Times.
            </P></td>
          </tr>
          <tr>
            <td><P align=justify>
              The captured data indicate that five of the seven monitors were exported to Asia between August and November 2011. Entering through ports in Vietnam, China, and Malaysia, four devices ultimately settled in China, with the last ending up in Malaysia. This led to the discovery and documentation of a previously unknown smuggling route to e-waste recycling facilities in southern China, via the border region of northern Vietnam. There, e-waste is broken down into component parts, some of which can be salvaged intact and reassembled into consumer products for resale.   
            </P></td>
          </tr>
          <tr>
            <td><P align=justify>
              On-the-ground investigations by BAN produced a clearer picture of these trade routes. E-waste enters the country in inter-modal containers through the port of Haiphong. Locals transfer the containers to semi trucks, which transport them 260km to the border town of Mong Cai on the Ka Long River. Interviews with locals and eyewitness reports revealed that small riverboats smuggle an array of goods, from e-waste and narcotics to endangered species and trafficked women, from Mong Cai to the Chinese border town of Dongxing. 
            </P></td>
          </tr>
          <tr>
            <td><P align=justify>
              While legitimate e-waste recycling helps reduce landfill contamination and raw material extraction, illegal handling of electronic waste raises the risk of water and soil pollution, human illness, and subsequent social costs to public health and agriculture. Our experiment demonstrates how relatively cheap technology can generate unique data needed by NGOs and Interpol to track such "hidden flows". Since the time of our experiment, the UN Organization on Drugs and Crime has confirmed that the Mong Cai border is a primary corridor for e-waste flowing from the US and EU into China, part of an estimated US$3.75 billion market for illegal e-waste. 
            </P></td>
          </tr>
          <tr>
            <td><P>
              Learn more about the smuggling trade here: 
              <a href="http://video.ft.com/v/1555946620001" style="color:#0913bc">Video</a>.
            </P></td>
          </tr>

        </table>
      </div>
    </div>

    <div id = "teamtb">
      <img src="img/cross.png">

      <table>
        <tr class = "head">
          <td><P><STRONG>TEAM</STRONG></P></td>
        </tr>
        <tr>
          <td><h5>SENSEable City Lab :.::</h5></td>
          <td><h5>Basel Action Network</h5></td>
          <td><h5>Special thanks to</h5></td>
        </tr>
        <tr>
          <td><p>...........</p></td>
          <td><p>.............</p></td>
          <td><p>..........</p></td>
        </tr>
        <tr>
          <td><p>...........</p></td>
          <td><p>.............</p></td>
          <td><p>..........</p></td>
        </tr>
        <tr>
          <td><p>...........</p></td>
          <td><p>.............</p></td>
          <td><p>..........</p></td>
        </tr>
        <tr>
          <td><p>...........</p></td>
          <td><p>.............</p></td>
          <td><p>..........</p></td>
        </tr>

      </table>
    </div>

  </div>

    <div class="myhint">
      <div class="hint overall"><p>Try to click/hover the paths or nodes</p></div>
      <div class="hint globe individual"><p>You can go back to the overall map by clicking the globe</p></div>
      <div class="hint changepath individual"><p>You can switch to other paths here.</p></div>
      <div class="hint control individual"><p>Let's click continue/stop to control the journey.</p></div>
      <div class="hint timeline individual"><p>Clickable timeline here.</p></div>
      <div class="hint detail individual"><p>Try to show detail.</p></div>
    </div>

  <script type="text/javascript">
  mapboxgl.accessToken = 'pk.eyJ1IjoicGFudGhlcnN1cGVyIiwiYSI6Il9JRlBXMkkifQ.4VOcpN_xI1jf1XxjnIZHmw';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/satellite-v8',
    center: [-71.093613, 42.360277],
    zoom: 5
  });

  d3.select(".mapboxgl-control-container").remove();

  var start = [-70, 33.928033];

  //var bound = [[-120,10],[-60,60]];
  var bound = [
    [-270, -20],
    [140, 50]
  ];

  //var start = [-122.486052, 37.830348];
  var map0 = new mapboxgl.Map({
    container: 'map0',
    style: 'mapbox://styles/mapbox/satellite-v8',
    center: start,
    zoomControl: false,
    zoom: 1.7
  }).fitBounds(bound);



  d3.select(".mapboxgl-control-container").remove();

  var isAtStart = true;
  var locreplay = true;
  var next_control = true;
/*map0.getBounds = function () {
    var bounds = getPxBounds.call(this);
    // ... extend the bounds
    bounds.min.x=bounds.min.x-1000;
    bounds.min.y=bounds.min.y-1000;
    bounds.max.x=bounds.max.x+1000;
    bounds.max.y=bounds.max.y+1000;
    return bounds;
};*/



</script>

<script src ="js/myfunction.js"></script>
<script src ="js/myfunction_control.js"></script>
<script src ="js/worldapp.js"></script>

<script src ="js/multiple_data.js"></script>
<script src ="js/mycontrol.js"></script>

</body>