<!DOCTYPE html>
<meta charset="utf-8">


<head>

  <title>MONITOUR</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/mystyle.css">
</head>

<body>

  <div id="tablepath">
    <div ><p><strong>Paths</strong></p></div>
  </div>

  <div id="draw">
  </div>

  <div id="menu">
    <img src="menu2.png" width = "20" height = "20">
    <p><strong>MONITOUR</strong></p>
  </div>
  
  <div id="control">


    <div id="title">
    </div>

    <div id="location">
    </div>

    <div id="story">
    </div>

    <div id="media">
      <div id="media_update">
      </div>
    </div>

    <div id="next">
      <p><strong>START/NEXT</strong></p>
    </div>
    <div id="stop">
      <p><strong>PAUSE</strong></p>
    </div>

    <svg id="overlap1" class="arrow">
      <path id = "prev_c" d=" M 20 110
      L 10 120
      L 20 130
      "/>
    </svg>
    <svg id="overlap2" class="arrow">
      <path id = "next_c" d=" M 10 110
      L 20 120
      L 10 130
      "/>
    </svg>
  </div>

  <div id="pre"></div>

<!--   <nav id = "navigator">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/viz">Visualization</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tm">Team</a></li>
    </ul>
  </nav> -->

  <script src ="js/multiple_data.js"></script>
</body>